body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(https://img.freepik.com/fotos-premium/auriculares-gamepad-sobre-fondo-azul-concepto-juegos-computadora-entretenimiento-juegos-ocio-vista-plana-vista-superior_164357-2459.jpg?w=740);
    background-size: cover;
}